<!DOCTYPE html>
<html>
  <head>
    <title>Jazz Up Your Passwords</title>
    <!-- Facebook og -->
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://cdn.glitch.global/9ad3fa09-543c-4aa7-bc70-787c1b9662a1/jazz-up-your-passwords?v=1642940260554"
    />
    <meta property="og:locale" content="en_EN" />
    <!-- Next tags are optional but recommended -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- Twitter og -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@holgerkurtz" />
    <meta name="twitter:creator" content="@holgerkurtz" />
    <meta name="twitter:url" content="https://create-a-jazzword.glitch.me" />
    <meta
      name="twitter:image"
      content="https://cdn.glitch.global/9ad3fa09-543c-4aa7-bc70-787c1b9662a1/jazz-up-your-passwords?v=1642940260554"
    />
    <meta name="twitter:title" content="Jazz Up Your Passwords" />
    <meta
      name="twitter:description"
      content="Jazz Chords 🤝 Password Generator. Your Password might be safe, but does it sound good? Only Jazzwords are safe and sound."
    />
    <meta
      property="og:description"
      content="BJazz Chords 🤝 Password Generator. Your Password might be safe, but does it sound good? Only Jazzwords are safe and sound."
    />
    <meta property="og:site_name" content="Jazz Up Your Passwords" />
    <meta property="og:url" content="https://create-a-jazzword.glitch.me" />
    <meta property="og:title" content="Jazz Up Your Passwords" />
    <meta
      name="description"
      content="Jazz Chords 🤝 Password Generator. Your Password might be safe, but does it sound good? Only Jazzwords are safe and sound."
    />
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2.1.1/out/dark.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"
      integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.js"
      integrity="sha512-U2sgwrFhl+Tgx9iGH9h5Ba2WyIjyCes+D0prtIFw3a0V+/fkaeL5Cd/VjyPHno9kUPE1rnNhBGTyvtZsfJp0xg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='play.js') }}"
    ></script>
    <style>
      #notes {
        display: none;
      }
    </style>
  </head>

  <body style="border-style: groove">
    <h1>🔑 Jazz Up Your Passwords</h1>
    <p>
      Jazz Chords 🤝 Password Generator. Your Password might be safe, but does
      it sound good? Only Jazzwords are safe and sound.
      <i>(Tip: Bookmark this site so it's just one click away.)</i>
    </p>

    <h2>Your new jazzy password:</h2>
    <p id="jazzword" style="border-style: groove">
      <mark>{{password}}</mark> <br />
    </p>

    <div id="button"></div>
    <a onclick="window.location.reload();">
      <small>Retry</small>
    </a>

    <small id="notes">{{notes}}</small>

    <!--
    <button id="clip" onclick="copyTextFromElement()">✂️ Copy 
Password</button> -->
  </body>
  <footer>
    <details>
      <summary>After it got published in "thehustle.co":</summary>
      <blockquote>
        Taking the day to change all my passwords using
        <footer>
          <cite
            >Matt Dyer
            <a
              href="https://twitter.com/therealmattdyer/status/1433780761786830872?s=20&t=vcV_FMmtRaQnV_8BpyRvPg"
              >@therealmattdyer</a
            ></cite
          >
        </footer>
      </blockquote>
      <blockquote>
        From the list of things I never knew I always needed: a tool to generate
        random passwords out of chords. Now I can listen to my jazzwords...
        <footer>
          <cite
            >Tim Schröder
            <a
              href="https://twitter.com/der_Tim/status/1436402959915552774?s=20&t=vcV_FMmtRaQnV_8BpyRvPg"
              >@der_Tim</a
            ></cite
          >
        </footer>
      </blockquote>
      <blockquote>
        This is the best thing on the internet thank you<a
          href="https://thehustle.co/"
        >
          <mark>@TheHustle</mark></a
        >
        for putting this in the newsletter this week!
        <footer>
          <cite
            >Sara Gepp NFT
            <a
              href="https://twitter.com/applegreentech/status/1433865793972940801?s=20&t=vcV_FMmtRaQnV_8BpyRvPg"
              >@applegreentech</a
            >
          </cite>
        </footer>
      </blockquote>
    </details>
    <a
      href="https://www.producthunt.com/posts/jazz-up-your-passwords?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-jazz-up-your-passwords"
      target="_blank"
      ><img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=308633&theme=dark"
        alt="Jazz Up Your Passwords - Create a Password that's safe and sound 🎹 | Product Hunt"
        style="width: 250px; height: 54px"
        width="250"
        height="54"
    /></a>
    <br />
    <hr>
    <h3>What else sounds safe and good? Leave this browser tab open to keep your proxy online!</h3>
    <div style="background-color: grey">
      <iframe
        src="https://snowflake.torproject.org/embed.html"
        width="320"
        height="240"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>

    <small>
      Made with love by
      <a href="https://www.holgerkurtz.de"> @holgerkurtz (Holger Kurtz)</a>
      <br />
      <a href="https://www.kulturdata.de/impressum/">Impressum</a>
      |
      <a href="https://www.kulturdata.de/datenschutzerklaerung/">Datenschutz</a>
      <br />
      <div id="visits"></div>
    </small>
  </footer>
  <script>
    function cb(response) {
      document.getElementById("visits").className = response.value;
    }
  </script>
  <script
    async
    src="https://api.countapi.xyz/hit/jazzpassword/visits?callback=cb"
  ></script>
</html>
