<!DOCTYPE html>
<html>
  <head>
    <title>Jazz Up Your Passwords</title>
    <meta
      name="description"
      content="Generates a jazzy Password that's safe and sound."
    />
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2.1.1/out/dark.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"
      integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.js"
      integrity="sha512-U2sgwrFhl+Tgx9iGH9h5Ba2WyIjyCes+D0prtIFw3a0V+/fkaeL5Cd/VjyPHno9kUPE1rnNhBGTyvtZsfJp0xg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='play.js') }}"
    ></script>
    <style>
      #notes {
        display: none;
      }
    </style>
  </head>

  <body>
    <h1>🔑 Jazz Up Your Passwords</h1>
    <p>
      Jazz Chords 🤝 Password Generator. Your Password might be safe, but does
      it sound good? Only Jazzwords are safe and sound. <i>(Tip: Bookmark this site so it's just one click away.)</i>
    </p>
    <h2>Your new jazzy password:</h2>
    <blockquote id="jazzword"><mark>{{password}}</mark></blockquote>
    <div id="button"></div>
    <hr />
    <small id="notes">{{notes}}</small>

    <button type="button" onClick="window.location.reload();">
      🔄 Reset Password
    </button>
    <button id="clip" onclick="copyTextFromElement()">✂️ Copy Password</button>
  </body>
  <footer>
    <a
      href="https://www.producthunt.com/posts/jazz-up-your-passwords?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-jazz-up-your-passwords"
      target="_blank"
      ><img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=308633&theme=dark"
        alt="Jazz Up Your Passwords - Create a Password that's safe and sound 🎹 | Product Hunt"
        style="width: 250px; height: 54px"
        width="250"
        height="54"
    /></a>
    <br />
    <small>
      Made with love by
      <a href="https://www.holgerkurtz.de"> @holgerkurtz (Holger Kurtz)</a> <br />
      <a href="https://www.kulturdata.de/impressum/">Impressum</a>
      |
      <a href="https://www.kulturdata.de/datenschutzerklaerung/">Datenschutz</a>
      <br />
      <div id="visits"></div>
    </small>
  </footer>
  <script>
    function cb(response) {
      document.getElementById("visits").className = response.value;
    }
  </script>
  <script
    async
    src="https://api.countapi.xyz/hit/jazzpassword/visits?callback=cb"
  ></script>
</html>
